:root {
  --primary-clr: #000;
  --space-clr: #fff;
  --neutral-clr: #e0e0e0;
  --active-clr: #f94848;
  --block-hover: rgba(0, 0, 0, 0.05);
  //
  --error-clr: #ff3f3f;
  //
  --small-radius: 4px;
  --middle-radius: 8px;
  --large-radius: 20px;
  //
  --controls-height: 20px;
}
