.dot {
  &_wrapper {
    z-index: 99;
    position: absolute;
    height: 24px;
    width: 24px;
    transform: translate(-12px, -12px);
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      .dot_svg_thumb {
        fill: var(--accent-clr);
      }
      .dot_svg_cross {
        stroke: var(--space-clr);
      }
    }
    &:active {
      .dot_svg_thumb {
        fill: var(--active-clr);
      }
    }
  }
  &_svg {
    pointer-events: none;
    overflow: visible;
    height: 10px;
    width: 10px;
    &_thumb {
      fill: var(--neutral-clr);
      transition: fill 0.1s ease-in-out;
    }
    &_cross {
      stroke: var(--accent-clr);
      transition: stroke 0.1s ease-in-out;
    }
  }
}
