.dot {
  &_wrapper {
    z-index: 99;
    position: absolute;
    height: 24px;
    width: 24px;
    transform: translate(-12px, -12px);
    &:hover {
      .dot_svg_thumb {
        fill: #000000;
      }
      .dot_svg_cross {
        stroke: #ffffff;
      }
    }
    &:active {
      .dot_svg_thumb {
        fill: #ff3b3b;
      }
      .dot_svg_cross {
        stroke: #ffffff;
      }
    }
  }
  &_svg {
    pointer-events: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    &_thumb {
      fill: #dddddd;
      transition: fill 0.1s ease-in-out;
    }
    &_cross {
      stroke: black;
      transition: stroke 0.1s ease-in-out;
    }
  }
}
