@import "./styles/mixins";

.wrapper {
  z-index: 10;
  position: absolute;
  z-index: 999;
  bottom: 16px;
  right: 16px;

  display: flex;
}

.settings {
  position: absolute;
  bottom: 48px;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 240px;

  border: 1px solid var(--primary-clr);
  padding: 8px;
  background: var(--space-clr);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    padding: 8px;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--primary-clr);
  }
}

.button {
  @include button;
  svg {
    fill: var(--space-clr);
  }
  &_active {
    background-color: var(--space-clr);
    svg {
      fill: var(--primary-clr);
    }
  }
}

.settingsIcon {
  width: 20px;
  height: 20px;
}

.closeButton {
  position: relative;
  width: 32px;
  height: 32px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    left: 8px;
    width: 16px;
    height: 2px;
    background-color: var(--primary-clr);
  }
  &:hover {
    background-color: var(--block-hover);
  }
}
